html, body {
  touch-action: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #eee;
}

.main-container {
  display: flex;
  gap: 1rem;
  height: 100vh;
}

.sidebar {
  position: fixed;
  overflow-y: auto;
  z-index: 1000;
  width: 500px;
  height: 100px;
  top: 0;
  left: 0;
}

.canvas-container {
  min-width: 400px;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  border: 2px solid #000;
  background-color: #717171;
  touch-action: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}


canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  touch-action: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

#layerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 140px;
  overflow-y: auto;
  gap: 0.5rem;
  padding: 0.5rem;
}

#layerContainer button {
  background: var(--color-third);
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  width: auto;
  font-size: 0.6rem;
  text-align: center;
  min-width: 5.5rem;
}

#layerContainer button:hover {
  background: #ccc;
  /* ホバー時に少し濃く */
}

#layerContainer button.active {
  background: #c2c2c2ff;
  /* 選択中の色 */
  color: #fff;
  border: none;
  /* 念のため明示 */
}

#layerEffectSelector select {
  font-size: 1rem;
}

#addLayer {
  font-weight: bolder;
}

.brushes button.active {
  background: #5e7a93;
}


#penSizeSelector button {
  font-size: 0.5rem;
  font-weight: bolder;
}

/* スライダー全体 */
#penSize {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: #ddd;
  outline: none;
}

#penSize::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #6c8595;
  cursor: pointer;

  margin-top: -3px;
  transition: background 0.3s, transform 0.2s;
}

#penSize::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: #ddd;
}

#penColor {
  display: none;
}

#colorCode {
  border: 2px solid #ccc;
  border-radius: var(--radius);
  padding: 2px;
  font-size: 0.9rem;
}

#colorSelector {
  border: 2px solid #ccc;
  border-radius: var(--radius);
  transition: background 0.2s;
}

#colorSelector:hover {
  border: 2px solid #b3b3b3;
}

.color-btn {
  display: inline-flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

  border: 2px solid #ccc;
  cursor: pointer;
  border-radius: var(--radius);
  transition: background 0.2s;
}

.color-btn:hover {
  transform: scale(1.05);
}

.toolbar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#loadImage {
  display: none;
}

button,
.custom-file-btn {
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: #fff;
  padding: 0 1rem;
  border-radius: var(--radius);
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.2s, transform 0.2s;
}

button:hover,
.custom-file-btn:hover {
  background: #5e7a93;
}

#penSize { width: 70px; }

#currentPen { font-size: 0.8rem; }

#currentPenSizeValue {
  width: 3.5rem;
  border: none;
  outline: none;
}
